<p id="notice"><%= notice %></p>

<h1>Listing Lottery Entries</h1>

<table>
  <thead>
    <tr>
      <th>Lottery</th>
      <th>Paid</th>
      <th>Transaction Id</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @lottery_entries.each do |le| %>
      <tr>
        <td><%= link_to le.lottery_id, lotteries_path(le.lottery) %></td>
        <td><%= le.amount_charged %></td>
        <td><%= le.transaction_id %></td>
        <td><%= link_to 'Show', le %></td>
        <td><%= link_to 'Edit', edit_lottery_entry_path(le) %></td>
        <td><%= link_to 'Destroy', le, method: :delete, data: {confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Lottery entry', new_lottery_entry_path %>
