<div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1 class="text-center">
          Lotteries
        </h1>
     </div>
      <div id="no-more-tables">
        <table class="col-md-12 table-bordered table-striped table-condensed cf" style = "word-wrap:break-word;">
          <thead class="cf">
        <tr>
            <th>Entry id</th>
            <th>Lottery</th>
            <th>Paid</th>
            <th>Transaction Id</th>
            <th>Created at</th>
          </tr>
        </thead>
        <tbody>
        <% @lottery_entries.each do |l| %>
              <tr>
                <td data-title = "Entry Id"  ><%= l.id %></td>
                <td data-title = "Lottery" ><%= link_to l.lottery_id, lottery_path(l.lottery_id) %></td>
                <td data-title = "Paid"  ><%= l.amount_charged %></td>
                <td data-title = "Transaction Id"><%= l.transaction_id %></td>
                <td data-title = "Created At"><%= l.created_at %></td>

              </tr>
            <% end %>
        </tbody>
        </table>
      </div>
    </div>
  </div>