<div class="fieldset">
  <h2>
    <strong>Lottery Entry #<%= @lottery_entry.id %></strong>
  </h2>




  <dl>
    <dt>
<span class="text_field label label-info string_type">
Transaction id
</span>
    </dt>
    <dd class="well">
      <%= @lottery_entry.transaction_id %>
    </dd>
    <dt>
<span class="decimal_type label label-info prize_amount_field">
Bitcoin address
</span>
    </dt>
    <dd class="well">
      <%= @lottery_entry.bitcoin_address %>
    </dd>

    <dt>
<span class="bitcoin_address_field label label-info string_type">
Amount paid
</span>
    </dt>
    <dd class="well">
      <%= @lottery_entry.amount_charged %>
    </dd>

    <dt>
<span class="QR_code_field label label-info string_type">
Entered
</span>
    </dt>
    <dd class="well">
      <%=@lottery_entry.created_at%>
    </dd>
    </dl>
</div>
