<p id="notice"><%= notice %></p>

<p>
  <strong>Lottery Id:</strong>
  <%= link_to @lottery_entry.lottery_id, lottery_path(@lottery_entry.lottery_id) %>
</p>

<p>
  <strong>Transaction id:</strong>
  <%= @lottery_entry.transaction_id %>
</p>

<p>
  <strong>Bitcoin address:</strong>
  <%= @lottery_entry.bitcoin_address %>
</p>

<p>
  <strong>Amount paid:</strong>
  <%= @lottery_entry.amount_charged %>
</p>

<p>
  <strong>User Id:</strong>
  <%= @lottery_entry.user_id %>
</p>

<p>
  <strong>Created:</strong>
  <%= @lottery_entry.created_at %>
</p>

<%= link_to 'Back', lottery_entries_path %>