<p id="notice"><%= notice %></p>

<p>
  <strong>Email:</strong>
  <%= @lottery_entry.email %>
</p>

<p>
  <strong>Bitcoin address:</strong>
  <%= link_to @lottery_entry.bitcoin_address, "https://blockchain.info/address/" + @lottery_entry.bitcoin_address %>
</p>

<p>
  <strong>Amount charged:</strong>
  <%= @lottery_entry.amount_charged %>
</p>

<%= link_to 'Back', lottery_entries_path %>
