<p id="notice"><%= notice %></p>

<p>
  <strong>Lottery id:</strong>
  <%= @lottery_entry.lottery_id %>
</p>

<p>
  <strong>Bitcoin address:</strong>
  <%= @lottery_entry.bitcoin_address %>
</p>

<p>
  <strong>Amount charged:</strong>
  <%= @lottery_entry.amount_charged %>
</p>

<%= link_to 'Back', lottery_entries_path %>
