<% staticPage = StaticPage.new %>

<!-- Page Content -->
<div class="container">

  <!-- Marketing Icons Section -->
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">
        Welcome to Bitcoin lottery!
      </h1>
    </div>

    <%= staticPage.getAbout 'glyphicon glyphicon-ok', 'Automated lottery', 'View lotteries', root_path,
                            'Our systems are fully automated. This means you never have to worry about the entry or payout!
                            Winners and participants are published to ensure legitimacy.' %>

    <%= staticPage.getAbout 'fa fa-fw fa-lock', 'Secure &amp; Open Source', 'GitHub', 'https://github.com/Westerdals/PG4300-16-6-Bitcoin-Lottery',
                          'The Bitcoin Lottery-team wants to ensure our users that our systems are legitimate and fair.
                          To confirm this, we decided to make the project open-source. Click the button below to
                          view the project in its entirety' %>

    <%= staticPage.getAbout 'fa fa-user-secret', 'Anonymity', 'Learn more about Bitcoin', 'https://www.bitcoin.com/',
                            'The whole purpose of this project was to ensure an extra layer of anonymity to the user.
                            We achieve this by the use of decentralized cryptocurrencies.' %>

    <%= staticPage.getAbout 'glyphicon glyphicon-tint', 'Helping out', 'The Water Project', 'https://thewaterproject.org/',
                            'To support <strong>The Water Project</strong>, we decided to deduct a small fee of 1% of
                            every lottery entry for a good cause!' %>

    <%= staticPage.getAbout 'glyphicon glyphicon-globe', 'International', 'View lotteries', root_path,
                            'Tired of the restrictions and the ridiculous lottery fees your country makes you pay and follow?
                            By the use of bitcoins there are virtually no restrictions,
                            and the almost non-existant fee of 1% you pay is for a good cause!' %>

    <%= staticPage.getAbout 'glyphicon glyphicon-info-sign', 'Information is transparent', 'BlockChain', 'https://blockchain.info/',
                            'All transactions are available and visibile within the BlockChain.
                            This means you can see where all the money goes, and if the money actually goes to the winners
                            and if we actually send the remainder of fees to our charity' %>

  </div>
</div>
<!-- /.container -->