
<!-- Page Content -->
<div class="container">

  <!-- Marketing Icons Section -->
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">
        Welcome to Bitcoin lottery!
      </h1>
    </div>


    <div class="col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4><i class="glyphicon glyphicon-ok"></i> Automated lottery</h4>
        </div>
        <div class="panel-body">
          <p>Our systems are fully automated. This means you never have to worry about the entry or payout! Winners and participants are published to ensure legitimacy. </p>
          <%= link_to "View lotteries", root_path, class:"btn btn-default"%>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4><i class="fa fa-fw fa-lock"></i> Secure &amp; Open Source</h4>
        </div>
        <div class="panel-body">
          <p>The Bitcoin Lottery-team wants to ensure our users that our systems are legitimate and fair.
            To confirm this, we decided to make the project open-source. Click the button below to
            view the project in its entirety</p>
          <%= link_to "GitHub", "https://github.com/Westerdals/PG4300-16-6-Bitcoin-Lottery", class:"btn btn-default"%>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4><i class="fa fa-user-secret"></i> Anonymity</h4>
        </div>
        <div class="panel-body">
          <p>The whole purpose of this project was to ensure an extra layer of anonymity to the user. We achieve this by
            the use of decentralized cryptocurrency. </p>
          <%= link_to "Learn more about Bitcoin", "http://www.coindesk.com/information/what-is-bitcoin/", class:"btn btn-default"%>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4><i class="glyphicon glyphicon-tint"></i> Helping out</h4>
        </div>
        <div class="panel-body">
          <p>To support the [insert charity cause], we decided to deduct a small fee of 1% of every lottery entry to
            support [insert charity name].</p>
          <%= link_to "[insert charity name]", root_path, class:"btn btn-default"%>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4><i class="glyphicon glyphicon-globe"></i> International</h4>
        </div>
        <div class="panel-body">
          <p>Tired of the restrictions and the ridiculous lottery fees your country makes you pay and follow?
          By the use of bitcoins there are virtually no restrictions, and the almost non-existant fee of 1% you pay is for a good cause!</p>
          <%= link_to "View lotteries", root_path, class:"btn btn-default"%>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4><i class="glyphicon glyphicon-ok"></i> Automated lottery</h4>
        </div>
        <div class="panel-body">
          <p>Our systems are fully automated. This means you never have to worry about the entry or payout! Winners and participants are published to ensure legitimacy. </p>
          <%= link_to "View lotteries", root_path, class:"btn btn-default"%>
        </div>
      </div>
    </div>
  </div>

  <!-- /.row -->

</div>
<!-- /.container -->

</body>

</html>
