
<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: {class: 'form-horizontal'}) do |f| %>
    <%= devise_error_messages! %>

    <div class="container">
      <div id="signupbox" style="margin-top:50px" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
        <div class="panel panel-info">
          <div class="panel-heading">
            <div class="panel-title">Edit account</div>
          </div>

          <div class="panel-body" >
            <form id="signupform" class="form-horizontal" role="form">

              <div id="signupalert" style="display:none" class="alert alert-danger">
                <p>Error:</p>
                <span></span>
              </div>



              <div style="margin-bottom: 25px" class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                <%= f.email_field :email, autofocus: true , class: "form-control", :placeholder=>"Email",  :readonly => true %>
              </div>

              <div style="margin-bottom: 25px" class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-bitcoin"></i></span>
                <%= f.text_field :bitcoinaddress, autofocus: true , class: "form-control", :placeholder=>"Bitcoin-address" %>
              </div>

              <div style="margin-bottom: 25px" class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                <%= f.password_field :password, autocomplete: "off", class: "form-control", :placeholder=>"Password - (leave blank if you do not wish to change)" %>
              </div>


              <div style="margin-bottom: 25px" class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control", :placeholder=>"Confirm password - (leave blank if you do not wish to change)" %>
              </div>
              <div style="margin-bottom: 25px" class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                <%= f.password_field :current_password, autocomplete: "off", class: "form-control" , :placeholder=>"Enter current password to make changes valid" %>
              </div>



              <div class="form-group">
                <!-- Button -->
                <div class="col-md-offset-3 col-md-9">
                  <%= f.submit "Update", class: 'btn btn-primary' %>
                </div>
              </div>





       <% end %>
</form>
             </div>

        </div>
      </div>
    </div>

<div class="col-sm-6 col-sm-offset-2">
  <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: 'btn btn-secondary', id: 'cancel_button' %></p>
</div>


