<p id="notice"><%= notice %></p>

<h1>Listing Lotteries</h1>

<table>
  <thead>
    <tr>
      <th>Id</th>
      <th>Status</th>
      <th>Prize</th>
      <th>Address</th>
      <th>Ends</th>
      <th>Winner</th>
      <th colspan="5"></th>
    </tr>
  </thead>

  <tbody>
    <% @lotteries.each do |l| %>
      <tr>
        <td><%= l.id %></td>
        <td><%= l.status %></td>
        <td><%= l.prize_amount %></td>
        <td><%= l.bitcoin_address %></td>
        <td><%= l.ends_at %></td>
        <td><%= link_to l.winner_entry, lottery_entry_path(l.winner_entry) if l.winner_entry %></td>
        <td><%= link_to 'Show', l %></td>
      </tr>
    <% end %>
  </tbody>
</table>