
<p id="notice"><%= notice %></p>

<h1>Listing Lotteries</h1>



  <div class="panel panel-default">
    <!-- Default panel contents -->
    <div class = "table-responsive">

    <div class="panel-heading">Panel heading</div>

    <!-- Table -->
    <table class="table">
      <thead>
      <tr>
        <th>Id</th>
        <th>Status</th>
        <th>Prize</th>
        <th>Address</th>
        <th>Ends</th>
        <th>Winner</th>
        <th colspan="7"></th>
      </tr>
      </thead>



  <tbody>
    <% @lotteries.each do |lottery| %>
      <tr>

        <td><%= lottery.prize_amount %></td>
        <td><%= lottery.bitcoin_address %></td>
        <td><%= link_to 'Show', lottery %></td>
        <td><%= link_to 'Edit', edit_lottery_path(lottery) %></td>
        <td><%= link_to 'Destroy', lottery, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>

</table>


<br>

<%= link_to 'New Lottery', new_lottery_path %>

  </div>
</div>
</div>


