<p id="notice"><%= notice %></p>

<p>
  <strong>Lottery:</strong>
  <%= @lottery.id %>
</p>

<p>
  <strong>Prize amount:</strong>
  <%= @lottery.prize_amount %>
</p>
<p>
  <strong>Bitcoin address:</strong>
  <%= @lottery.bitcoin_address %>
</p>

<%= link_to 'Back', lotteries_path %>
