<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Bitcoin Lottery</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= render 'shared/navbar' %>
<%= render 'layouts/messages' %>
<%= yield %>



<footer class="footer">
  <div class="container">
    <div class="footer-image">
      <p>© Bitcoin Lottery 2016</p>
      <img src="https://en.bitcoin.it/w/images/en/7/74/BC_Rnd_64px.png">
    </div>
    <p class="text-muted"></p>
  </div>
</footer>


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
</body>


</html>
